<header>
  <div class="hero-unit home">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">ENGAGE</div>
        <div class="intro-lead-in">The World's First Citizen Relationship Management (CRM)</div>
        <div class="intro-lead-in">Platform for Law Enforcement</div>
        <a href="/product" class="btn btn-danger intro-button" role="button">Learn More</a>
      </div>
    </div>
  </div>
</header>

<section class="flex-container gray">
  <div class="white-box col-xs-10 col-xs-offset-1">
    <div class="white-box-text">
      <h1>What is<br>Citizen Relationship Management?</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="testimonials">
      <div class="testimonial">
        <div class="image">
          <%= image_tag 'quote1.png' %>
          <i class="fa fa-quote-right red-quote" aria-hidden="true"></i>
        </div>
        <div class="personal-testimonial">
          <p class="italic-text">Almost every other industry has companies that utilize data on a daily basis to accomplish their objectives. Law enforcement is way behind on that, and SPIDR's approach is revolutionary.<p>
          <br>
          <p>M. Sevilla, West Covina Police Department</p>
        </div>
      </div>
      <div class="testimonial">
        <div class="image">
          <%= image_tag 'quote2.png' %>
          <i class="fa fa-quote-right red-quote" aria-hidden="true"></i>
        </div>
        <div class="personal-testimonial">
          <p class="italic-text">The law enforcement landscape is changing rapidly. Connecting with communities requires cutting edge technology. SPIDR is delivering that.<p>
          <br>
          <p>Chief (ret.) Lucy Schirling, Burlington PD</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="flex-container">
  <div class="">
    Section 2
  </div>
</section>
<section class="flex-container gray">
  <div class="">
    Subscribe
  </div>
</section>
