<header>
  <div class="hero-unit home">
    <div class="container">
    HELLO THERE
    </div>
  </div>
</header>
<main class="main_container">
  <div class="section section-1 gray">
    Section 1
  </div>
  <div class="section section-2">
    Section 2
  </div>
  <div class="section subscribe gray">
    Subscribe
  </div>
</main>
<%= render 'layouts/footer' %>
