<header>
  <div class="hero-unit home">
    <div class="container">
    HELLO THERE
    </div>
  </div>
</header>
<main class="main_container">
  <section class="flex-container gray">
    <div class="">
      Section 1
    </div>
  </section>
  <section class="flex-container">
    <div class="">
      Section 2
    </div>
  </section>
  <section class="flex-container gray">
    <div class="">
      Subscribe
    </div>
  </section>
</main>
<%= render 'layouts/footer' %>
