<div class="banner block">
  <div class="container">
    <div class="wrapper">
      <%= image_tag "enga.png", class: "img-responsive" %>
      <p>The World's First Citizen Relationship Management (CRM)<br> Platform for Law Enforcement.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
</div>

<div class="section1 block">
  <div class="container">
    <div class="wrapper">
      <div class="top">
        <h1>What is<br>
          Citizen Relationship Management?</h1>
          <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <br><br>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="review">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <%= image_tag "officer1.jpg", class: "img-responsive" %>
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <div class="col-sm-8">
                  <em>Almost every other industry has companies that utilize data on a daily basis to accomplish their objectives.Law enforcement is way behind on that, and SPIDR's approach is revolutionary.</em>
                  <p>M. Sevilla, West Covina Police Department</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <%= image_tag "officer2.jpg", class: "img-responsive" %>
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <div class="col-sm-8">
                  <em>The law enforcement landscape is changing rapidly. Connecting with communities requires cutting edge technology. SPIDR is delivering that.</em>
                  <p> Chief (ret.) Lucy Schirling, Burlington PD</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section2 block">
      <div class="container">
        <div class="wrapper">
          <div class="col-sm-6">
            <ul>
              <li>
                <div class="bullet"><i class="fa fa-users" aria-hidden="true"></i></div>
                <div class="content">
                  <h2>Get Community Focused</h2>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Laudantium, totam rem aperiam.</p>
                </div>
              </li>
              <li>
                <div class="bullet"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                <div class="content">
                  <h2>Deploy Quickly</h2>
                  <p>Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                </div>
              </li>
              <li>
                <div class="bullet"><i class="fa fa-lock" aria-hidden="true"></i></div>
                <div class="content">
                  <h2>RMS Diagnostic</h2>
                  <p>Sed ut perspiciatis unde omnis aliquip ex ea commodo consequat. Voluptatem accusantium doloremque!</p>
                </div>
              </li>
              <li>
                <div class="bullet"><i class="fa fa-cloud" aria-hidden="true"></i></div>
                <div class="content">
                  <h2>Cloud/Web Based</h2>
                  <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae. Laudantium, totam rem aperiam.</p>
                </div>
              </li>
              <li>
                <div class="bullet"><i class="fa fa-magic" aria-hidden="true"></i></div>
                <div class="content">
                  <h2>Fully Automated</h2>
                  <p>Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6"><%= image_tag "section2b.png", class: "img-responsive" %> <a href="#">Learn More</a></div>
        </div>
      </div>
    </div>

    <div class="subscription block">
      <div class="container">
        <div class="wrapper">
          <h2>Subscribe to Our Newsletter</h2>
          <p>Sed ut perspiciatis unde omnis aliquip ex. Voluptatem accusantium doloremque!</p>
          <form>
           <input type="email" required="required" placeholder="Your email address here..."/>
           <input type="submit"  value="Subscribe"/>
         </form>
       </div>
     </div>
   </div>
