/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar {
   margin-bottom: 0;
   border: 0px;
   border-radius: 0px;
 }
 .home {
   height: 500px;
   background-image: image-url("Home-Hero-Image.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   text-align: center;
   color: white;
 }
 .spidr {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 .main_container {
   flex: 1;
   display: flex;
   flex-direction: column;
 }
 .flex-container {
   flex: 1;
 }
 .gray {
   background-color: #ddd;
 }
