/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

.footer-links .red-demo {
   color: #f00;
   padding: 4px;
   padding-top: 2px;
 }
 .navbar {
   margin-bottom: 0;
   border: 0px;
   border-radius: 0px;
 }
 .navbar-default {
   border-top: 5px #081926;
   border-style: solid none;
 }
 img.navbar-brand {
   height: 60px;
   padding-left: 50px;
 }
 .home {
   height: 500px;
   background-image: image-url("Home-Hero-Image.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   text-align: center;
   color: white;
 }
 .spidr {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 .main_container {
   flex: 1;
   display: flex;
   flex-direction: column;
 }
 .flex-container {
   flex: 1;
 }
 .section-box {
   margin-top: 10px;
   padding: 5px;
   display: flex;
   flex-direction:column;
   align-items: center;
 }
 .flex-row {
   flex-direction: row;
 }
 .flex-column {
   flex-direction: column;
 }
 .white-box-text {
   background-color: #FFF;
   padding:15px 35px 15px 35px;
   border-radius: 10px;
 }
 .white-box-text h1 {
   border-left: solid 10px #f00;
   padding-left: 10px;
 }
 .testimonials {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
 }
 .testimonial {
   margin: 0 auto 0 auto;
   max-width: 500px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
 }
 .testimonial img {
   padding: 10px;
   max-width: 150px;
 }
 .red-quote {
    position: relative;
    z-index: 1;
    color: #fff;
    right: 42px;
    font-size: 19px;
    top: -50px;
    background-color: #f00;
    padding: 7px;
    border-radius: 50%;
  }
 .gray {
   background-color: #e6eaf2;
 }
 .italic-text {
   font-style: italic;
 }
 .personal-testimonial {
   padding: 10px;
   text-align: center;
   max-width: 60%;
 }
 footer {
   background-color: #081926;
   color: #acb2bf;
 }
 .footer-links-container {
   margin-top: 20px;
 }
.footer-links-container a {
   color: #acb2bf;
 }
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.footer-image {
  height:50px;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
}
.social-icons i {
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  padding: 5px;
}
.social-icons span {
  padding: 5px;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 15px;
}
header .intro-text {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 15px;
}
header .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 90px;
  line-height: 50px;
  margin-bottom: 25px;
}
header .intro-button {
  margin-top: 65px;
  width: 200px;
  padding: 10px 12px;
}
.red-demo {
  border: solid 2px #f00;
  border-radius: 7px;
  padding: 6px;
  color: #f00;
}
.services-offered {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 20px;
}
.services-offered > div {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.services-screen {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.intro-button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.services-screen .intro-button {
  margin-top: 50px;
}
.bullet-point-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bullet-point {
  display: flex;
}
.bullet-point-image {
  width: 20%;
}
.bullet-point img {
  width: 40px;
  height: 40px;
  margin-top:15px;
  margin-left:10px;
  margin-right:3px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.subscribe-input {
  max-width: 80%;
  margin-top: 15px;
}
.subscribe-input .input-group {
  display: flex;
}
.subscribe-input .fa-paper-plane {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
  color: #acb2bf;
  font-size: large;
}
.subscribe-input button {
  border-radius: 0px 5px 5px 0px;
}
.subscribe-input input {
  font-style: italic;
}
// li a {
//   padding: 20px 30px;
//   display: block;
//   border-right: 1px solid #d0d0d0;
// }
//
// li:first-child a {
//   border-left: 1px solid #d0d0d0;
// }
//
// li a:after {
//   content: '';
//   display: none;
//   width: 0;
//   height: 0;
//   border-top: 6px solid #333;
//   border-right: 6px solid transparent;
//   border-left: 6px solid transparent;
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -6px
// }
//
// li:hover a {
//   background: #333;
//   color: white;
//   position: relative;
// }
//
// li:hover a:after {
//   display: block;
// }
@media (max-width: 992px){
  .footer-col {
    text-align: center;
  }
  .home {
    height: 400px;
  }
  header .intro-heading {
    font-size: 70px;
  }
  header .intro-text {
    font-size: 30px;
  }
  header .intro-button {
    margin-top: 40px;
  }
  .services-offered {
    flex-direction: column;
  }
  .subscribe-input input {
    font-size: 10px;
  }
}
